.main-container {
    margin: 0 auto;
    width: 90%;

////////// MAIN CONTENT ////////////
.main-content {
    margin: 3rem auto;
    max-width: 1080px;
    // MEDIA QUERIES
    @include respond(small-phone){
        margin: 4rem auto;
    }
    &__link{
        display: flex;
        margin-bottom: 2rem;
        list-style: none;
        &__list{
            font-family:Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 700;
            color: #fff;
            padding: 6px 10px;
            line-height: 11px;
            text-transform: uppercase;
            margin: 0 10px;
            letter-spacing: 1px;
            &:first-child{
                background-color: #333;
            }   
            background-color: rgba(51,51,51,.5);
        }
    }
    // TITLE
    &__heading{
        font-size: 44px;
        line-height: 48px;
        font-weight: 500;
        color: #000;
        // MEDIA QUERIES
        @include respond(small-phone){
            font-size: 30px;
            line-height: 38px;
        }
    }
    // AUTHOR NAME
    &__author{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__name{
            font-family:Helvetica, sans-serif;
            font-size: 13px;
            line-height: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #333;
            padding: 1.5rem 0;
            margin: 2rem 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
        // SOCIAL MEDIA ICONS
        &__social-media{
            width: 127px;
            height: 100%;
            padding: 1.2rem 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            // MEDIA QUERIES
            @include respond(tab-port){
                padding: 25px 0;
            }
        }
    }
    // IMAGES
    &__figure{
        &__img{
            width: 100%;
        }
        &__caption{
            font-size: 13px;
            line-height: 16px;
            margin: 5px 0;
            color: #333;
        }
    }
    // SUB HEADINGS
    &__sub-heading{
        font-size: 27px;
        line-height: 28px;
        margin-top: 1.5rem;
        color: #000;
    }
    // PARAGRAPHS
    &__paragraph {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 19px;
        line-height: 26px;
        margin: 20px 0;
        color: #000;
    }
 }
}
