.footer{
 &__wrapper{
     display: flex;
     justify-content: space-around;
     max-width: 1300px;
     padding: 5rem 0;
     margin: 0 auto;
     background-color: #333;
     
      // MEDIA QUERIES
      @include respond(phone){
        padding: 2rem 0;
    }    
     @include respond(small-phone){
          flex-direction: column;
        
  }
 
     &__figure{
        &:hover{
            cursor: pointer;
        }
         &__logo{
            width: 130px;
            // MEDIA QUERIES
            @include respond(tab-port){
                width: 100px;
                margin-top: 1.3rem;
            }
            @include respond(phone){
                display: none;
            }
         }
     }

    //  SIGN UP
    &__signup{
        list-style: none;
        color: #fff;
      // MEDIA QUERIES
      @include respond(phone){
        width: 50%;
        margin-left: 1rem;
      }
      @include respond(small-phone){
          width: 90%;
      }
        &__list{
            font-family:  'Times New Roman', Times, serif,sans-serif;
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: .5px;
            margin-top: 1rem; 
            // MEDIA QUERIES
            @include respond(tab-port){
                width: 88%;
            }
            @include respond(small-phone){
                font-size: 29px;
                width: 100%;
              }
            &:hover{
                cursor: pointer;
            }
            &--border{
                text-decoration: underline;
            }
        }

        &__social-media{
                 // MEDIA QUERIES
            @include respond(small-phone){
                margin-left: 3rem; 
              }
            &__icons{
                margin-top: 3rem;
                width: 200px;
                // MEDIA QUERIES
                @include respond(small-phone){
                    margin-top: 2rem;
                }
            }
        }
   
    }

    .footer__links__wrapper{
        display: flex;
        // border: 2px solid red;
        @include respond (small-phone){
            margin-top: 1rem;
            margin: 1rem auto;
        }
    }

    // LEFT LINKS
    &__left-links{      
        list-style: none;
        color: #fff;
        margin-right: 7rem;
        // MEDIA QUERIES
        @include respond(tab-port){
            margin-right: 2rem;
        }
        @include respond(small-phone){
            width: 30%;
            margin-left: 12px;
        }

        &__list{
            font-family: "Helvetica", sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            margin-top: 1rem;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
                color: #999;
            }

        }
    }
    // RIGHT LINKS
    &__right-links{
        list-style: none;
        color: #fff;
        // MEDIA QUERIES

        @include respond(phone){
            margin: 0 4rem;
      }
        @include respond(small-phone){
            width: 40%;
        }
        &__list{
            font-family: "Helvetica", sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            margin-top: 1rem;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
                color: #999;
            }
        } 
    }
 
 }

}